.thongbao{
	background: #670505;
	color: #fff;
}
.hinhanh{
	background: #b38281;
	color: #fff;
}
.capnhatbocuc{
	background: #5769f1;
	color: #fff;
}
.slide{
	background: #9dce72;
	color: #fff;
}
.seo{
	background: #111310;
	color: #fff;
}
.fb{
	background: #ad9cde;
	color: #fff;
}
.icon{
	background: #d63896;
	color: #fff;
}
.luottruycap{
	background: #c5c2c4;
	color: #fff;
}


